@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-accent: 64 186 33;
    --color-text: 18 12 42;
    --color-dark: 18 12 42;
    --color-overlay: 153 159 175;
    --color-surface: 240 243 247;
    --color-base: 255 255 255;

    @media (prefers-color-scheme: dark) {
      --color-accent: 64 186 33;
      --color-text: 255 255 255;
      --color-overlay: 240 243 247;
      --color-surface: 153 159 175;
      --color-base: 18 12 42;
    }
  }
}
